.whey-exterior-one-slide-one {
  /* background-image: url("../../../assets/images/hadley-heights-map.jpg"); */
  background-image: url("../../../assets/images/wey/exterior/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.whey-exterior-one-slide-two {
  background-image: url("../../../assets/images/wey/exterior/2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.whey-exterior-one-slide-three {
  background-image: url("../../../assets/images/wey/exterior/3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.whey-exterior-one-slide-four {
  background-image: url("../../../assets/images/wey/exterior/4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.whey-exterior-one-slide-five {
  background-image: url("../../../assets/images/wey/exterior/5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.whey-exterior-one-slide-six {
  background-image: url("../../../assets/images/wey/exterior/14.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.whey-exterior-one-slide-seven {
  background-image: url("../../../assets/images/wey/exterior/7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.whey-exterior-one-slide-eight {
  background-image: url("../../../assets/images/wey/exterior/15.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.interior-one-slide-ones {
  background-image: url("../../../assets/images/wey/interior/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.interior-one-slide-twos {
  background-image: url("../../../assets/images/wey/interior/2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.interior-one-slide-threes {
  background-image: url("../../../assets/images/wey/interior/3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.interior-one-slide-fours {
  background-image: url("../../../assets/images/wey/interior/4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-one {
  background-image: url("../../../assets/images/wey/exterior/15.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-two {
  background-image: url("../../../assets/images/wey/amenities/2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-three {
  background-image: url("../../../assets/images/wey/amenities/3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-four {
  background-image: url("../../../assets/images/wey/amenities/4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-five {
  background-image: url("../../../assets/images/wey/amenities/5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-six {
  background-image: url("../../../assets/images/wey/amenities/6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-seven {
  background-image: url("../../../assets/images/wey/amenities/7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-eight {
  background-image: url("../../../assets/images/wey/amenities/8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-nine {
  background-image: url("../../../assets/images/wey/amenities/9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-ten {
  background-image: url("../../../assets/images/wey/amenities/10.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-eleven {
  background-image: url("../../../assets/images/wey/amenities/11.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-twelve {
  background-image: url("../../../assets/images/wey/amenities/12.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-thirteen {
  background-image: url("../../../assets/images/wey/amenities/13.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-fourteen {
  background-image: url("../../../assets/images/wey/amenities/14.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-sixteen {
  background-image: url("../../../assets/images/wey/amenities/16.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-seventeen {
  background-image: url("../../../assets/images/wey/amenities/17.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-ninteen {
  background-image: url("../../../assets/images/wey/amenities/19.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amenities-exterior-one-slide-twenty {
  background-image: url("../../../assets/images/wey/amenities/20.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .special-location-image-section {
  max-width: 1600px;
  min-height: 650px;
} */

.whey-special-location-image-section {
  max-width: 1800px;
  min-height: 680px;
  margin-top: 30px;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-image: url("../../../assets/images/wey/weybridge-garden-map.jpg");
  background-color: #232323;
  background-size: cover;
  background-position: bottom;
}

.wheybridge-floor-plans-slide-one {
  background-image: url("../../../assets/images/wey/2d/1.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.lifestyle-one-slide-one {
  background-image: url("../../../assets/images/wey/lifestyle/1.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.lifestyle-one-slide-two {
  background-image: url("../../../assets/images/wey/lifestyle/2.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.lifestyle-one-slide-three {
  background-image: url("../../../assets/images/wey/lifestyle/3.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.lifestyle-one-slide-four {
  background-image: url("../../../assets/images/wey/lifestyle/4.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.lifestyle-one-slide-five {
  background-image: url("../../../assets/images/wey/lifestyle/5.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.lifestyle-one-slide-six {
  background-image: url("../../../assets/images/wey/lifestyle/6.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.lifestyle-one-slide-seven {
  background-image: url("../../../assets/images/wey/lifestyle/7.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.lifestyle-one-slide-eight {
  background-image: url("../../../assets/images/wey/lifestyle/8.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.lifestyle-one-slide-nine {
  background-image: url("../../../assets/images/wey/lifestyle/9.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.lifestyle-one-slide-ten {
  background-image: url("../../../assets/images/wey/lifestyle/10.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.lifestyle-one-slide-eleven {
  background-image: url("../../../assets/images/wey/lifestyle/11.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.containing-full-width {
  min-height: 500px;
  margin-top: 30px;
}
.youtube-embed-section {
  min-height: 720px;
  min-width: 100%;
}
/* .items .des 
{
  text-transform: uppercase;
  font-weight: 900;
} */